* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#303030, black);
}

.board {
    width: 640px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    flex-wrap: wrap;
}

.square {
    width: 80px;
    height: 80px;
}

.piece{
    width: 80px;
    height: 80px;
}

.light {
    background: #EEEED2;
}

.dark {
    background: #769656;
}

.highlight { 
    background: #ffff33;
}